<%- include('partials/head-layout.ejs') %>
</head>

<body>
    <%- include('partials/header-layout.ejs') %>
    <div class="grid">
        <h1>404 Page Not Found!</h1>
    </div>
<%- include('partials/end-layout.ejs') %>